html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.wrapper {
  margin: 20px auto;
  width: 1024px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 0 10px rgba(136, 82, 55, 1);
}

.navigation {
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.navigation > li {
  display: flex;
  padding-left: 15px;
}

.navigation > li > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

/* all styles for left column */
.wrapper-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
}

.left-column {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(136, 82, 55, 1);
}

.kote {
  border-radius: 15px;
}

.contacts-items {
  display: flex;
  flex-direction: row;
}

.contacts-items__image {
  margin-left: 10px;
}

.contacts-items__image1 {
  background-image: url('./assets/img/google-mobile.png');
  background-repeat: no-repeat;
  padding-bottom: 10px;
  width: 30px;
  height: 30px;
}

.contacts-items__image2 {
  background-image: url('./assets/img/gmail-logo.png');
  background-repeat: no-repeat;
  padding-bottom: 10px;
  width: 30px;
  height: 30px;
}

.contacts-items__image3 {
  background-image: url('./assets/img/telegram.png');
  background-repeat: no-repeat;
  padding-bottom: 10px;
  width: 30px;
  height: 30px;
}

.contacts-items__image4 {
  background-image: url('./assets/img/discord.png');
  background-repeat: no-repeat;
  padding-bottom: 10px;
  width: 30px;
  height: 30px;
}

.contacts-items__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contacts-items__telephone {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts-items__email {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts-items__telegram {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts-items__discord {
  padding-top: 10px;
  padding-bottom: 10px;
}

.codewars-img {
  display: flex;
  justify-content: center;
}
/* all styles for right column */
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(136, 82, 55, 1);
}

.right-column__about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column__code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column__knowledge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column__knowledge > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.right-column__knowledge > h3 {
  margin-bottom: 15px;
}

.right-column__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column__projects > a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 0 10px rgba(136, 82, 55, 1);
}

h2 {
  margin: 5px;
}
h3 {
  margin: 5px;
}

hr {
  width: 100%;
}
